@import './base.css';
.container-body {
  flex-grow: 1;
}
.pointer{
  cursor: pointer;
}
.disabled, span.title{
  user-select: none;
  pointer-events: none;
}
* {
  /* border: 2px solid red; */
}
a,
.white {
  text-decoration: none;
  color: var(--color-text1);
  transition: 0.4s;
}
.flex {
  display: flex;
  gap: var(--gap, 5rem);
}
.logo {
  margin-block: 1rem;
  margin-inline: 0rem;
}
span{
  user-select: var(--select, none);
}
span.title{
  font-family: "OktaNeue-Bold";
  font-size: 10rem;
  /* font-weight: bold; */
  text-transform: uppercase;
}