@import './base.css';
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
  font-weight: normal;
}
a,
.white {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.flex {
  display: flex;
  gap: var(--gap, 5rem);
}
.logo {
  margin: 1rem;
}