@import './base.css';
#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 auto;
  font-weight: normal;
  /* ancho pantalla telefono */
  height: 100%;
}
/* ancho pantalla escritorio */
@media (min-width: 45em){
  #app {
    min-height: 120%;
  }
}
a,
.white {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.flex {
  display: flex;
  gap: var(--gap, 5rem);
}
.logo {
  margin-block: 1rem;
  margin-inline: 0rem;
}