@import './base.css';
.container-body {
  flex-grow: 1;
}
a,
.white {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.flex {
  display: flex;
  gap: var(--gap, 5rem);
}
.logo {
  margin-block: 1rem;
  margin-inline: 0rem;
}